@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body {
  margin: 0px;
  padding: 0px;
  background-color: #fbf4fd;
}

.main-container {
  width: 100%;
  height: auto;
}

.wsa-icon-container {
  margin: 25px 60px;
}

.wsaicon{
    width:240px;
    height:83px;
}

.sub-container {
  width: 100%;
  height: 450px;
}

.header-container {
  float: left;
  width: 50%;
}

.header {
  color: #000000;
  font-size: 60px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  padding: 60px;
}

.calculator-container {
  width: 50%;
  height: 450px;
  float: right;
}

.background-circle{
    width:500px;
    height:500px;
    border-radius:50%;
    background-color: #f5eafd;
    position:relative;
    bottom:10%;
}

.calculator{
    width:350px;
    height:500px;
    background-color: #ffffff;
    position: relative;
    bottom: 122%;
    left:11.5%;
    border-radius: 33px;
    border:10px solid #e2e2e2;
}

.output-field-container{
    background-color: #f3f2f2;
    width: 315px;
    height:110px;
    border:none;
    margin:12px 16px;
    border-radius:20px;
   
}

.input-field {
  background-color: #f3f2f2;
  width: 94%;
  margin: 1px 3px;
  font-size: 30px;
  padding: 10px 5px 0px 5px;
  border-radius: 20px;
  border: none;
  text-align: end;
}

.output-field{
    width:94%;
    background-color: #f3f2f2;
    margin:1px 3px;
    font-size:30px;
    padding:10px 5px 0px 5px;
    border:none;
    text-align:end;
}

.output-field-container:focus {
  outline: none;
}
.input-field:focus {
  outline: none;
}

.btn-row {
  margin: auto auto auto 24px;
  width: 93%;
}

button {
  margin: 4px 5px;
  width: 50px;
  border-radius: 10px;
  height: 50px;
  border: none;
  font-size: 20px;
}
.bg-icon:hover {
  background-color: #fceebd;
}

button:hover{
    cursor:pointer;
    background-color: #2a2828;
    color:#f3f2f2;
}

button i{
    color: #bd882a;
    font-size: 15px;
}
button:hover i{
    color:white;
}
.bg-icon{
    background-color: #fceebd;
}
.zero{
    width:115px;
}
.equal-icon {
  background-color: #fceebd;
  position: absolute;
  height: 108px;
  right: 8px;
}
.equals-icon-bg-icon{
    background-color: #ffc138;
}
.footer-name{
    font-family:"poppins",sans-serif;
    padding:60px;
    font-size: 14px;
    text-transform: uppercase;
}
.clear-icon {
  width: 90px;
}
.delete-icon,
.percentage-icon {
  width: 90px;
}